[data-theme="Mode 1"] {
  --accent-bg-lighten-lighten subtle: var(--absolut-White Alpha-100);
  --base-bg-neutral-neutral close: var(--absolut-White Alpha-900);
  --brand-ol-on_brand gentle: var(--absolut-White Alpha-500);
  --brand-bg-brand moderate: var(--Bondi-700);
  --base-fg-neutral-neutral inverse: var(--absolut-white);
  --base-bg-shade-shade strong: var(--absolut-Black Alpha-700);
  --base-bg-danger-danger weak: var(--Roman Alpha-100);
  --base-bg-shade-shade moderate: var(--absolut-Black Alpha-400);
  --base-bg-shade-shade weak: var(--absolut-Black Alpha-100);
  --base-bg-shade-shade subtle: var(--absolut-Black Alpha-50);
  --base-bg-action-action moderate: var(--Blue Alpha- 500);
  --accent-fg-action-action inverse: var(--Blue-600);
  --base-bg-neutral-neutral far: var(--Slate-200);
  --base-fg-neutral-neutral strong: var(--absolut-Black Alpha-800);
  --base-fg-neutral-neutral moderate: var(--absolut-Black Alpha-700);
  --base-ol-neutral-subtle: var(--absolut-Black Alpha-50);
  --base-ol-neutral-weak: var(--absolut-Black Alpha-100);
  --base-ol-neutral-moderate: var(--absolut-Black Alpha-400);
  --accent-fg-action-action strong: var(--Blue-300);
  --base-bg-alert-alert weak: var(--Ochre Alpha-100);
  --base-fg-danger-danger striking: var(--Roman Alpha-900);
  --base-fg-alert-alert striking: var(--Ochre Alpha-900);
  --base-fg-success-success strong: var(--Grass Alpha-800);
  --base-bg-success-success weak: var(--Grass Alpha-100);
  --base-bg-danger-danger moderate: var(--Roman Alpha-700);
  --accent-bg-neutral-neutral active: var(--Slate-700);
  --accent-bg-neutral-neutral close: var(--Slate-600);
  --base-fg-action-action strong: var(--Blue Alpha- 700);
  --base-bg-success-success subtle: var(--Grass Alpha-50);
  --base-bg-danger-danger subtle: var(--Roman Alpha-50);
  --base-bg-alert-alert subtle: var(--Ochre Alpha-50);
  --base-fg-danger-danger strong: var(--Roman Alpha-700);
  --accent-fg-danger-danger strong: var(--Roman Alpha-300);
  --base-bg-neutral-neutral active: var(--absolut-white);
  --base-ol-danger-danger strong: var(--Roman Alpha-700);
  --accent-fg-neutral-neutral moderate: var(--absolut-White Alpha-800);
  --base-bg-danger-danger vivid: var(--Roman Alpha-800);
  --base-bg-action-action vivid: var(--Blue Alpha- 600);
  --base-fg-action-action striking: var(--Blue Alpha- 800);
  --accent-bg-action-action moderate: var(--Blue-50);
  --accent-bg-action-action vivid: var(--absolut-white);
  --accent-bg-danger-danger moderate: var(--Roman Alpha-100);
  --base-fg-action-action inverse: var(--absolut-white);
  --base-fg-danger-danger inverse: var(--absolut-white);
  --accent-fg-danger-danger inverse: var(--Roman Alpha-700);
  --brand-fg-on_brand strong: var(--absolut-White Alpha-900);
  --accent-fg-neutral-neutral vivid: var(--absolut-White Alpha-950);
  --accent-bg-danger-danger vivid: var(--Roman Alpha-50);
  --accent-fg-danger-danger striking: var(--Roman Alpha-200);
  --accent-fg-action-action striking: var(--Blue-200);
  --base-fg-neutral-neutral gentle: var(--absolut-Black Alpha-500);
  --accent-fg-neutral-neutral gentle: var(--absolut-White Alpha-500);
  --accent-bg-neutral-neutral strong: var(--Slate-800);
  --base-bg-neutral-neutral nested: var(--absolut-Black Alpha-50);
  --accent-bg-shade-shade weak: var(--absolut-Black Alpha-200);
  --base-bg-lighten-lighten moderate: var(--absolut-White Alpha-600);
  --base-fg-success-success striking: var(--Grass Alpha-900);
  --base-ol-alert-alert gentle: var(--Ochre Alpha-200);
  --base-ol-danger-danger gentle: var(--Roman Alpha-200);
  --base-ol-success-success gentle: var(--Grass Alpha-200);
  --base-ol-neutral-gentle: var(--absolut-Black Alpha-200);
  --base-bg-shade-shade 0: var(--absolut-Black Alpha-0);
  --base-bg-lighten-lighten 0: var(--absolut-White Alpha-0);
  --base-bg-action-action weak: var(--Blue Alpha- 100);
  --base-fg-alert-alert strong: var(--Ochre Alpha-800);
  --base-bg-lighten-lighten weak: var(--absolut-White Alpha-100);
  --base-bg-lighten-lighten gentle: var(--absolut-White Alpha-400);
  --base-ol-danger-danger moderate: var(--Roman Alpha-400);
  --base-ol-success-success moderate: var(--Grass Alpha-400);
  --base-ol-alert-alert moderate: var(--Ochre Alpha-400);
  --accent-bg-action-action weak: var(--Blue Alpha- 950);
  --base-bg-action-action gentle: var(--Blue Alpha- 200);
  --accent-bg-action-action gentle: var(--Blue Alpha- 900);
  --accent-bg-shade-shade gentle: var(--absolut-Black Alpha-300);
  --accent-bg-shade-shade moderate: var(--absolut-Black Alpha-400);
  --base-bg-shade-shade gentle: var(--absolut-Black Alpha-200);
  --accent-fg-neutral-neutral inverse strong: var(--absolut-Black Alpha-900);
  --accent-bg-lighten-lighten strong: var(--absolut-White Alpha-900);
  --accent-fg-neutral-neutral inverse moderate: var(--absolut-Black Alpha-700);
  --accent-ol-shade-shade moderate: var(--absolut-Black Alpha-400);
  --base-fg-neutral-neutral vivid: var(--absolut-Black Alpha-900);
  --accent-ol-shade-shade strong: var(--absolut-Black Alpha-800);
  --brand-bg-brand weak: var(--Bondi Alpha-700-20);
  --brand-ol-brand gentle: var(--Bondi Alpha-700-40);
  --brand-fg-on_brand vivid: var(--absolut-white);
  --accent-bg-lighten-lighten weak: var(--absolut-White Alpha-200);
}

[data-theme="Mode 1"] {
  --p-04: 4px;
  --p-08: 8px;
  --p-00: 0px;
  --p-360: 360px;
  --p-240: 240px;
  --p-120: 120px;
  --p-104: 104px;
  --p-160: 160px;
  --p-01_negative: -1px;
  --p-96: 96px;
  --p-88: 88px;
  --p-: 9999px;
  --p-32: 32px;
  --p-60: 60px;
  --p-06: 6px;
  --p-80: 80px;
  --p-56: 56px;
  --p-52: 52px;
  --p-64: 64px;
  --p-02_negative: -2px;
  --p-16: 16px;
  --p-01: 1px;
  --p-40: 40px;
  --p-02: 2px;
  --p-12: 12px;
  --p-10: 10px;
  --p-28: 28px;
  --p-04_negative: -4px;
  --p-24: 24px;
  --p-36: 36px;
  --p-68: 68px;
  --p-48: 48px;
  --p-72: 72px;
  --p-08_negative: -8px;
  --p-20: 20px;
  --p-44: 44px;
  --p-14: 14px;
  --p-24_negative: -24px;
  --p-18: 18px;
  --p-06_negative: -6px;
  --p-22: 22px;
}

[data-theme="Value"] {
  --Size-Negative-Negative-Mini-Thin: var(--p-01_negative);
  --Size-Mini-Mini-Thin: var(--p-01);
  --Size-Mini-Mini-Zero: var(--p-00);
  --Size-Negative-Negative-Mini-XSmall: var(--p-02_negative);
  --Size-Negative-Negative-Mini-Small: var(--p-04_negative);
  --Size-Negative-Negative-Mini-Large: var(--p-08_negative);
  --Size-Mini-Mini-Large: var(--p-08);
  --Size-Mini-Mini-Regular: var(--p-06);
  --Size-Mini-Mini-Small: var(--p-04);
  --Size-Mini-Mini-XLarge: var(--p-10);
  --Size-Mini-Mini-XSmall: var(--p-02);
  --Size-Minor-Minor-Large: var(--p-24);
  --Size-Minor-Minor-Regular: var(--p-20);
  --Size-Minor-Minor-XLarge: var(--p-28);
  --Size-Minor-Minor-Small: var(--p-16);
  --Size-Minor-Minor-XSmall: var(--p-12);
  --Size-Medium-Medium-Small: var(--p-36);
  --Size-Medium-Medium-XLarge: var(--p-48);
  --Size-Medium-Medium-Large: var(--p-44);
  --Size-Medium-Medium-Regular: var(--p-40);
  --Size-Medium-Medium-XSmall: var(--p-32);
  --Size-Major-Major-XLarge: var(--p-68);
  --Size-Major-Major-Regular: var(--p-60);
  --Size-Major-Major-Small: var(--p-56);
  --Size-Major-Major-Large: var(--p-64);
  --Size-Major-Major-XSmall: var(--p-52);
  --Size-Maxi-Maxi-Large: var(--p-96);
  --Size-Maxi-Maxi-XLarge: var(--p-104);
  --Size-Maxi-Maxi-Small: var(--p-80);
  --Size-Maxi-Maxi-Regular: var(--p-88);
  --Size-Maxi-Maxi-XSmall: var(--p-72);
  --Size-Negative-Negative-Mini-Regular: var(--p-06_negative);
  --Size-Negative-Negative-Minor-Large: var(--p-24_negative);
  --Radius-Radius-XXXLarge: var(--p-48);
  --Radius-Radius-XLarge: var(--p-24);
  --Radius-Radius-Full: var(--p-);
  --Radius-Radius-Large: var(--p-16);
  --Radius-Radius-Zero: var(--p-00);
  --Radius-Radius-Small: var(--p-08);
  --Radius-Radius-XXLarge: var(--p-32);
  --Radius-Radius-XSmall: var(--p-04);
  --Radius-Radius-XXSmall: var(--p-02);
  --Radius-Radius-Regular: var(--p-12);
}

[data-theme="loose"] {
  --card-padding large: var(--Size-Minor-Minor-Large);
  --page body-padding bottom: var(--Size-Medium-Medium-XLarge);
  --card-radius: var(--Radius-Radius-XSmall);
  --page body-margin top negative: var(--Size-Negative-Negative-Minor-Large);
  --card-padding: var(--Size-Minor-Minor-Small);
  --platform nav header short: var(--Size-Maxi-Maxi-Small);
  --container max-width: 1392px;
  --page body-padding horizontal: var(--Size-Minor-Minor-Large);
}

[data-theme="tight"] {
  --card-padding large: var(--Size-Minor-Minor-Large);
  --page body-padding bottom: var(--Size-Medium-Medium-XLarge);
  --card-radius: var(--Radius-Radius-XSmall);
  --page body-margin top negative: var(--Size-Negative-Negative-Minor-Large);
  --card-padding: var(--Size-Minor-Minor-Small);
  --platform nav header short: var(--Size-Maxi-Maxi-Small);
  --container max-width: 1392px;
  --page body-padding horizontal: var(--Size-Minor-Minor-Large);
}

[data-theme="Mode 1"] {
  --weight-normal: 400px;
  --weight-medium: 500px;
  --weight-semibold: 600px;
  --weight-bold: 700px;
  --weight-extrabold: 800px;
  --size-short-x-small: var(--p-12);
  --size-short-small: var(--p-14);
  --size-short-medium: var(--p-16);
  --size-short-large: var(--p-18);
  --size-tall-small: var(--p-22);
  --size-tall-medium: var(--p-28);
  --size-tall-large: var(--p-32);
  --size-tall-x-large: var(--p-44);
  --line height fixed-short-small: var(--p-14);
  --line height fixed-short-x-small: var(--p-12);
  --line height fixed-short-medium: var(--p-16);
  --line height fixed-short-large: var(--p-18);
  --line height fixed-short-x-large: var(--p-20);
  --line height fixed-tall-x-small: var(--p-24);
  --line height fixed-tall-small: var(--p-28);
  --line height fixed-tall-medium: var(--p-32);
  --line height fixed-tall-large: var(--p-40);
  --line height fixed-tall-x-large: var(--p-60);
  --spacing fixed-normal: 0px;
  --spacing fixed-tightest: -1.2000000476837158px;
  --spacing fixed-tighter: -0.800000011920929px;
  --spacing fixed-tight: -0.6000000238418579px;
  --spacing fixed-loose: 0.5px;
  --spacing fixed-looser: 1px;
  --spacing fixed-loosest: 2px;
  --size-tall-x-small: var(--p-16);
  --paragraph spacing-large: var(--p-16);
  --paragraph spacing-medium: var(--p-12);
  --paragraph spacing-small: var(--p-08);
  --paragraph spacing-x-small: var(--p-04);
  --paragraph spacing-x-large: var(--p-24);
}

[data-theme="Mode 1"] {
  --Roman Alpha-950: 4b0e02;
  --Roman Alpha-900: 680f02;
  --Roman Alpha-800: 871002;
  --Roman Alpha-700: 9a0b00;
  --Roman Alpha-600: b60801;
  --Roman Alpha-500: bf0101;
  --Roman Alpha-400: d20008;
  --Roman Alpha-300: dc0111;
  --Roman Alpha-200: e10519;
  --Roman Alpha-100: ed001c;
  --Roman Alpha-50: ee0537;
  --Ochre Alpha-50: f5dc00;
  --Ochre Alpha-100: edc705;
  --Ochre Alpha-200: e8ae02;
  --Ochre Alpha-300: e19900;
  --Ochre Alpha-400: db8702;
  --Ochre Alpha-500: d37601;
  --Ochre Alpha-600: bc5e01;
  --Ochre Alpha-700: 994d00;
  --Ochre Alpha-800: 7a4100;
  --Ochre Alpha-900: 613c00;
  --Ochre Alpha-950: 473200;
  --Blue Alpha- 200: 0975fb;
  --Blue Alpha- 600: 024ae8;
  --Blue Alpha- 700: 0138d3;
  --Blue Alpha- 400: 0370f7;
  --Blue Alpha- 500: 005df3;
  --Blue Alpha- 50: 1a7eff;
  --Blue Alpha- 800: 0228a5;
  --Blue Alpha- 300: 0478fa;
  --Blue Alpha- 900: 02227c;
  --Blue Alpha- 100: 0f73f8;
  --Blue Alpha- 950: 000f43;
  --Slate-50: f8fafc;
  --Slate-100: f1f5f9;
  --Slate-200: e2e8f0;
  --Slate-300: cbd5e1;
  --Slate-400: 94a3b8;
  --Slate-500: 64748b;
  --Slate-600: 475569;
  --Slate-700: 334155;
  --Slate-800: 1e293b;
  --Slate-900: 0f172a;
  --Slate-950: 020617;
  --Roman-50: fef0f3;
  --Roman-100: fde3e6;
  --Roman-200: f9cdd1;
  --Roman-300: f2a1a7;
  --Roman-400: e87d81;
  --Roman-500: d86464;
  --Roman-600: c63e39;
  --Roman-700: a82d24;
  --Roman-800: 8f2114;
  --Roman-900: 6e190c;
  --Roman-950: 500f02;
  --Ochre-50: fdf8cc;
  --Ochre-100: f9ecaa;
  --Ochre-200: f4d988;
  --Ochre-300: edc266;
  --Ochre-400: e4a644;
  --Ochre-500: d98822;
  --Ochre-600: c16b15;
  --Ochre-700: a35700;
  --Ochre-800: 854b00;
  --Ochre-900: 664200;
  --Ochre-950: 4d3800;
  --Grass-50: f2fbe4;
  --Grass-100: dbf3ba;
  --Grass-200: c3e996;
  --Grass-300: acdd78;
  --Grass-400: 8dc757;
  --Grass-500: 75b143;
  --Grass-600: 599130;
  --Grass-700: 3f761e;
  --Grass-800: 2b620e;
  --Grass-900: 1c4b06;
  --Grass-950: 103d00;
  --Bondi-50: eefcfb;
  --Bondi-100: e1fafa;
  --Bondi-200: caf5f7;
  --Bondi-300: adf0f5;
  --Bondi-400: 83e1ec;
  --Bondi-500: 2ecde5;
  --Bondi-600: 13aecd;
  --Bondi-700: 0b91b2;
  --Bondi-800: 076a83;
  --Bondi-900: 04576c;
  --Bondi-950: 034354;
  --Blue-50: eff6ff;
  --Blue-100: dbeafe;
  --Blue-200: bfdbfe;
  --Blue-300: 93c5fd;
  --Blue-400: 60a5fa;
  --Blue-500: 3b82f6;
  --Blue-600: 2563eb;
  --Blue-700: 1d4ed8;
  --Blue-800: 1e40af;
  --Blue-900: 1e3a8a;
  --Blue-950: 172554;
  --absolut-white: ffffff;
  --absolut-black: 000000;
  --absolut-White Alpha-950: ffffff;
  --absolut-White Alpha-900: ffffff;
  --absolut-White Alpha-800: ffffff;
  --absolut-White Alpha-700: ffffff;
  --absolut-White Alpha-600: ffffff;
  --absolut-White Alpha-500: ffffff;
  --absolut-White Alpha-400: ffffff;
  --absolut-White Alpha-300: ffffff;
  --absolut-White Alpha-200: ffffff;
  --absolut-White Alpha-100: ffffff;
  --absolut-White Alpha-50: ffffff;
  --absolut-Black Alpha-950: 000000;
  --absolut-Black Alpha-900: 000000;
  --absolut-Black Alpha-800: 000000;
  --absolut-Black Alpha-700: 000000;
  --absolut-Black Alpha-600: 000000;
  --absolut-Black Alpha-500: 000000;
  --absolut-Black Alpha-400: 000000;
  --absolut-Black Alpha-300: 000000;
  --absolut-Black Alpha-200: 000000;
  --absolut-Black Alpha-100: 000000;
  --absolut-Black Alpha-50: 000000;
  --absolut-Black Alpha-0: 000000;
  --absolut-White Alpha-0: ffffff;
  --Grass Alpha-50: 89db0a;
  --Grass Alpha-100: 7ed409;
  --Grass Alpha-200: 70cb05;
  --Grass Alpha-300: 62bf00;
  --Grass Alpha-400: 52aa00;
  --Grass Alpha-500: 459601;
  --Grass Alpha-600: 357903;
  --Grass Alpha-700: 276502;
  --Grass Alpha-800: 205a01;
  --Grass Alpha-900: 174701;
  --Grass Alpha-950: 0f3800;
  --Bondi Alpha-700-20: 0b91b2;
  --Bondi Alpha-700-40: 0b91b2;
}
